#!/bin/bash
#while read i; do 
#echo exec_test,host=$(hostname),service=$(echo $i|awk '{print $1}') state=$(netstat -npl | grep -c `echo $i|awk '{print $2}'`)
#done < /etc/telegraf/service_list
state=0
case "$1" in
bind)
    while IFS=$'\n' read key value; do
	if [[ "$(netstat -npl | grep -c $(echo $key|awk '{print $2}'))" > 0 ]]; then state=1; else state=0; fi
	echo exec_test,host=$(hostname),service=$(echo $key | awk '{print $1}') state="$state"i
    done < <(sed -n '/^\['$1'\]/,/^\[/p' /etc/telegraf/service_list | sed -e '/^\[/d' | sed -e '/^$/d') ;;
services)
    while read key value; do
	service_status=`systemctl status $key | grep Active | awk '{print $2}'`
	if [[ $service_status == "active" ]]; then state=1; else state=0; fi
	echo exec_test,host=$(hostname),service=$key state="$state"i
    done < <(sed -n '/^\['$1'\]/,/^\[/p' /etc/telegraf/service_list | sed -e '/^\[/d' | sed -e '/^$/d') ;;
esac
